<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rebox.mapper.PlaceMapper">

    <!-- 查询景点，并关联创建者、更新者信息 -->
    <select id="selectWithUsers" resultType="com.rebox.domain.dto.PlaceDTO">
        SELECT p.id, p.name, p.description, p.location, p.create_time, p.update_time
        FROM `places` p
        WHERE p.name LIKE CONCAT('%', #{name}, '%')
    </select>

</mapper>
